<div>
  Results for: '<strong>{{ query }}</strong>'
</div>
<div *ngIf="results">
  <div *ngIf="results.results.length === 0">
    There weren't any items matching your search.
  </div>
  <table>
    <thead>
      <tr>
      <th>Name</th>
      <th>Description</th>
      <th>NPM Package</th>
      <th>Bundle Size</th>
      </tr>

    </thead>
    <tr *ngFor="let result of results.results">
      <td>{{result.name}}</td>
      <td>{{result.description}}</td>
      <td>{{result.package}}</td>
      <td>{{result.bundleSize}}</td>
    </tr>
  </table>
</div>
